body {
    font-family: 'Play';
    color: #F7F619;
    background-color: #22A8CB;
    text-rendering: optimizeLegibility;
}

#background-сanvas {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(150px);
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    -o-filter: blur(150px);
    -ms-filter: blur(150px);
}


.justify-content-center {
    position: relative;
    z-index: 2;
}

.logo {
    width: 56px;
    height: 56px;
    background-image: url('/links/images/logos/logo_main.png');
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease-in-out;
    -webkit-filter: drop-shadow(0px 0px 4px #1f222c);
    filter: drop-shadow(0px 0px 4px #1f222c);
}

@media (min-width: 768px) {
    .logo {
        width: 112px;
        height: 112px;
    }
}

h2 {
    font-weight: 700;
    -webkit-filter: drop-shadow(0px 0px 4px #1f222c);
    filter: drop-shadow(0px 0px 4px #1f222c);
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

h5 {
    font-weight: 700;
    text-transform: uppercase;
    -webkit-filter: drop-shadow(0px 0px 4px #1f222c);
    filter: drop-shadow(0px 0px 4px #1f222c);
}

.custom-btn {
    background-color: transparent;
    border: 2px solid #F7F619;
    border-radius: 0.6em;
    color: #F7F619;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.25em 0;
    text-decoration: none;
    text-align: center;
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out, color 300ms ease-in-out;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-filter: drop-shadow(0px 0px 4px #1f222c);
    filter: drop-shadow(0px 0px 4px #1f222c);
}

.bi {
    padding-right: 0.2em;
}

@font-face {
    font-family: 'icomoon';
    src: url('/links/fonts/icomoon.woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.bi-mono::before {
    font-family: 'icomoon' !important;
    content: "\e901";
}

.bi-donatello::before {
    font-family: 'icomoon' !important;
    content: "\e900";
}

.gradient45 {
    background-image: linear-gradient(45deg, #F7F619 50%, transparent 50%);
}

.gradient135  {
    background-image: linear-gradient(135deg, #F7F619 50%, transparent 50%);
}

.custom-btn:hover, .custom-btn:focus {
    color: #1f222c;
    background-position: 0;
}
